<footer class="bg-dark p-5">
    <div class="text-center">
        <img src="{{ asset('images/logo.png') }}" alt="">
    </div>
	<div class="d-flex justify-content-evenly px-3 pb-5">
		<div class="w-25 p-4">
			<h5 class="txt-white fs-5 mx-3 py-4 text-center">About us</h5>
			<p class="txt-grey fs-6 text-center">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque sed quia quaerat 
                dignissimos voluptatem harum rerum soluta?
            </p>
		</div>
		<div class="w-25 p-4">
			<h5 class="txt-white fs-5 mx-3 py-4 text-center">Get news & offers</h5>
			<div class="d-flex my-2">
				<div class="input-group mb-3">
                    <input type="text" class="form-control form-email" placeholder="Enter your mail" aria-label="newsletter" aria-describedby="button-newsletter">
                    <button class="btn btn-outline-secondary btn-email" type="button" id="button-newsletter"><img src="{{ asset('images/email.png')}}" class="img-min my-1 mx-2" alt=""></button>
                </div>
			</div>
			<div class="d-flex justify-content-center">
				<a href=""><img src="{{ asset('images/twitter.png')}}" class="img-min m-2" alt=""></a>
				<a href=""><img src="{{ asset('images/linkedin.png')}}" class="img-min m-2" alt=""></a>
				<a href=""><img src="{{ asset('images/facebook.png')}}" class="img-min m-2" alt=""></a>
				<a href=""><img src="{{ asset('images/instagram.png')}}" class="img-min m-2" alt=""></a>
		    </div>
		</div>
		<div class="w-25 p-4">
			<h5 class="txt-white fs-5 mx-3 py-4 text-center">Contact us</h5>
			<div class="my-4">
				<p class="txt-grey my-1 fs-6 mx-3 text-center">
                    No 40 Baria Street 133/2<br>
                    + (156) 1800-366-6666<br>
                    Eric-82@example.com<br>
                    www.royate.com<br>
                </p>
			</div>
		</div>
	</div>
    <div class="px-5">
        <div class="px-5 border-grey">
            <p class="txt-grey fs-6 pt-5 text-center">@ 2023 DesignGalaxy8 | Mathilde Pierre dit Blanchet</p>
        </div>
    </div>
</footer>
