<section>
	<div class="padding-75 container d-flex justify-content-center align-items-center">
		<div class="d-flex justify-content-center align-items-center">
			<div class="background-3 d-flex justify-content-center align-items-center p-3">
				<div class="dbl-border-2 text-white p-2 d-flex justify-content-center align-items-center row">
					<div class="encart">
						<h2>Our food menu</h2>
						<h3 class="txt-blue m-3">~ See what we offer ~</h3>
						<div class="row square">
							<div class="col-md-3">
								<img
								src="{{ asset('images/appetizer-square.png') }}" alt="">
								{# button opens category -> menu #}
								<p class="white">Appetizer</p>
							</div>
							<div class="col-md-3">
								<img src="{{ asset('images/main-course-square-1.png') }}" alt="">
								<p class="white">Main Course</p>
							</div>
							<div class="col-md-3">
								<img src="{{ asset('images/drinks-square-1.png') }}" alt="">
								<p class="white">Drinks</p>
							</div>
							<div class="col-md-3">
								<img src="{{ asset('images/deserts-square-1.png') }}" alt="">
								<p class="white">Desserts</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 d-flex justify-content-center align-items-center column p-2">
								<div class="d-flex justify-content-center align-items-center p-2">
									<img src="{{ asset('images/menu-thumb-9.png') }}" alt="">
									<p class="white">
										<strong>Chiken tikka massala...$ 56</strong><br/>Chiken / Italian</p>
								</div>
								<div class="d-flex justify-content-center align-items-center p-2">
									<img src="{{ asset('images/menu-thumb-11.png') }}" alt="">
									<p class="white">
										<strong>Chiken tikka massala...$ 56</strong><br/>Chiken / Italian</p>
								</div>
								<div class="d-flex justify-content-center align-items-center p-2">
									<img src="{{ asset('images/menu-thumb-13.png') }}" alt="">
									<p class="white">
										<strong>Chiken tikka massala...$ 56</strong><br/>Chiken / Italian</p>
								</div>
							</div>
							<div class="col-md-6 d-flex justify-content-center align-items-center column p-2">
								<div class="d-flex justify-content-center align-items-center p-2">
									<img src="{{ asset('images/menu-thumb-10.png') }}" alt="">
									<p class="white">
										<strong>Chiken tikka massala...$ 56</strong><br/>Chiken / Italian</p>
								</div>
								<div class="d-flex justify-content-center align-items-center p-2">
									<img src="{{ asset('images/menu-thumb-12.png') }}" alt="">
									<p class="white">
										<strong>Chiken tikka massala...$ 56</strong><br/>Chiken / Italian</p>
								</div>
								<div class="d-flex justify-content-center align-items-center p-2">
									<img src="{{ asset('images/menu-thumb-14.png') }}" alt="">
									<p class="white">
										<strong>Chiken tikka massala...$ 56</strong><br/>Chiken / Italian</p>
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-outline-light btn-page px-4">Wiew more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
