<section class="bg-grey">
	<div class="row p-5">
		<!--contact-->
		<div class="col-md-4 background-4">
			<h3 class="txt-blue">Opening Time</h3>
		</div>
		<div class="col-md-2">
			<h5 class="txt-blue">Monday - Friday</h5>
			<p class="txt-white">7am - 11am (Breakfast)</p>
			<p class="txt-white">11am - 12pm (Lunch/Dinner)</p>
		</div>
		<div class="col-md-2">
			<h5 class="txt-blue">Saturday - Sunday</h5>
			<p class="txt-white">8am - 1pm (Brunch)</p>
			<p class="txt-white">1pm - 10pm (Lunch/Dinner)</p>
		</div>
		<div class="col-md-4">
			<div class="d-flex">
				<img src="{{ asset('images/appel.png') }}" class="img-small" alt="">
				<p class="text-white">+ (156) 1800-366-6666</p>
			</div>
			<button class="btn btn-outline-light btn-page px-4">
				<a class="nav-link" href="">Book a table</a>
			</button>
		</div>
	</div>
	<div
		class="row">
		<!--gallerie-->
		<div class="col-md-3 p-0">
			<img class="img-gallery" src="{{ asset('images/gallery-11.jpg') }}" alt="">
		</div>
		<div class="col-md-3 p-0">
			<img class="img-gallery" src="{{ asset('images/gallery-7.jpg') }}" alt="">
			<img class="img-gallery" src="{{ asset('images/gallery-8.jpg') }}" alt="">
		</div>
		<div class="col-md-3 p-0">
			<img class="img-gallery" src="{{ asset('images/gallery-10.jpg') }}" alt="">
			<img class="img-gallery" src="{{ asset('images/gallery-9.jpg') }}" alt="">
		</div>
		<div class="col-md-3 p-0">
			<img class="img-gallery" src="{{ asset('images/gallery-12.jpg') }}" alt="">
		</div>
	</div>
</section>
